{% extends 'base.html.twig' %}

{% block title %}ListTask{% endblock %}

{% block body %}
    <h1>ListTask</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ list_task.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ list_task.title }}</td>
        </tr>
        <tr>
            <th>Priority</th>
            <td>{{ list_task.priority }}</td>
        </tr>
        <tr>
            <th>Done</th>
            <td>{{ list_task.done ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('list_task_index') }}">back to list</a>

    <a href="{{ path('list_task_edit', {'id': list_task.id}) }}">edit</a>

    {{ include('list_task/_delete_form.html.twig') }}
{% endblock %}
