{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ task.priority }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('task_index') }}">{{ button_label|default('Back to list') }}</a>
    <a class="glyphicon glyphicon-pencil" href="{{ path('task_edit', {'id': task.id}) }}">edit</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
